@charset "UTF-8";
.field{
	margin:5px;
	padding:5px;
}
.btn{
	padding:5px;
	border:2px solid ;
}
.blogtable{
    border:2px solid ;
    border-color:#60a3bc;
    padding: 5px;
    margin:5px;
}
.box{
margin-left:15%;
margin-right:15%;
}
.textarea{
width: 768px;
height: 161px;
}
.text{
width: 768px;
height: 80px;
}