<html xmlns:th="http://www.thymeleaf.org">
<title>Blog Posts</title>
<link href="style.css" rel="Stylesheet">
<link href="bootstrap.min.css" rel="stylesheet">
<link rel="script" href="jquery.min.js">
<body class="container-fluid">
<div align="center" background="#322">
    <div class="row">
        <div class="col col-md-2 aside" style="background:#eee;">
            <div class="col" style="background:#CAD5E2;">
                <form action="sortOnFilter" method="post">
                    Sort:
                    <select name="sortOnFilter">
                        <option value="PublishedTimeAsc">Published Time &#8593;</option>
                        <option value="PublishedTimeDsc">Published Time &#8595;</option>
                    </select>
                    <input class="btn btn-sm btn-warning" type="submit">
                </form>
            </div>
            <div class="col">
                <div class="row" style="background:#CAD5E2;">
                    <form action="filterOnSearch" method="get">
                        <label><strong>Authors:</strong><br>
                            <input name="author" th:each="author : ${authors}"
                                   th:text="${author}"
                                   th:value="${author}"
                                   type="checkbox"
                            />
                        </label><br>
                        <hr>
                        <label><strong>Tags:</strong><br>
                            <input name="author" th:each="tag : ${tags}"
                                   th:text="${tag}"
                                   th:value="${tag}"
                                   type="checkbox"
                            />
                        </label><br>
                        <hr>
                        <input class="btn btn-sm btn-info" type="submit">
                    </form>
                </div>
            </div>
            <form action="filterpost" method="post">
                <input name="search" placeholder="Search" type="text">
                <input class="btn btn-sm btn-success" id="search" type="submit">
            </form>
            <a href="/reset">Reset</a>
        </div>
        <div class="col col-md-10box">
            <h4>Blog Posts</h4>
            <hr>
            <div class="row">
                <div class="col">
                    <strong>Available Result:<p th:text="${noOfResult}"></p></strong>
                    <a class="btn btn-dark" href="/new">Write Post</a>
                    <a class="btn btn-danger" href="/">Home</a>
                </div>
            </div>
            <hr>

            <table border="2px solid #eee">
                <tbody>
                <tr th:each="post:${posts}">
                    <div class="blogtable">
                        <h4 class="field" th:text="${post.title}"></h4>
                        <h5 class="field" th:text="${post.author}"></h5><hr>
                        <div style="background:#84bfad">
                            By: <p th:text="${post.author}"></p>
                            On: <p th:text="${post.publishedAt}"></p>
                        </div>
                        <hr>
                        <hr>
                        <a th:href="@{'/readMore/'+${post.id}}"> Read More>></a>
                        <a class="btn btn-primary btn-sm" th:href="@{'/updatePost/'+${post.id}}">Update Post</a>
                        <a class="btn btn-danger btn-sm" th:href="@{'/deletePost/'+${post.id}}"> Delete Post</a>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <a class="btn btn-light" th:if="${pageno > 1}" th:href="@{'/?start='+${pageno - 1}}">Prev</a>
        <span th:unless="${pageno > 1}">Prev</span>
        <a class="btn btn-light" th:if="${pageno < totalpages}"
           th:href="@{'/?start='+${pageno + 1}}">Next</a>
        <span th:unless="${pageno < totalpages}">Next</span>
    </div>
</div>
<script>
   <!-- $(document).ready(function(){
        alert("jquery and Ajax working...");
       function getFilterData(){
           alert("function called onlick");
       }
        $('.boxselector').click(function(){
            $.get("filterData");
       });
    });-->
</script>
</body>

</html>