<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title th:text="${postOfGivenId.title}"></title>
<link href="style.css" rel="Stylesheet">
<link href="bootstrap.min.css" rel="stylesheet">
<body class="box" style="margin-left:15%;margin-right:15%;">
<div align="center" style="background:#f7f1e3">
    <div>
        <a href="/"><input type="button" class="btn-sm btn-dark" value="Home"></a><hr>
    </div>
    <h3 class="field" th:text="${postOfGivenId.title}"></h3>
    <hr>
    <h3 class="field" th:text="${tags}"></h3>
    <p class="field" th:text="${postOfGivenId.content}"></p>
    <hr>
    <div style="background:#f7f1e3">
        <h2>Comment</h2>
        <form action="/comment" method="get" th:object="${commentData}">
            <input name="name" placeholder="Enter your name" style="margin:5px;width:400px;" type="text"/><br>
            <input name="email" placeholder="Enter your email" style="margin:5px; width:400px;" type="email"/><br>
            <textarea name="content" placeholder="Enter your comment"
                      style="margin:5px; width:400px; height:200px;"></textarea><br>
            <input name="hiddenbtn" th:value="${postOfGivenId.id}" type="hidden"/>
            <input type="submit" value="Comment">
        </form>
    </div>
    <div style="background:#f7f1e3">
        <table border="2px solid #eee">
            <tbody>
            <tr th:each="comments:${comments}">
                <div style="margin:5px;background:#b2bec3;border-radius:8px;width:500px;">
                    <p align="right" style="background:#b7c9a5" th:text="${comments.name}"></p>
                    <p class="field" style="font-size:20px" th:text="${comments.content}"></p>
                    <div th:if="${#request.userPrincipal}">
                        <div th:if="${#authentication.getPrincipal().getUsername()} eq${postOfGivenId.author}">
                            <a class="btn btn-primary" th:href="@{'/updateComment/'+${comments.id}}">Edit</a>
                            <a class="btn btn-danger" th:href="@{'/deleteComment/'+${comments.id}}"> Delete</a>
                        </div>
                    </div>
                </div>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>