<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:width="http://www.w3.org/1999/xhtml">
<title th:text="${postOfGivenId.postTitle}"></title>
<link rel="Stylesheet" href="style.css">
<link rel="stylesheet" href="bootstrap.min.css">
<body class="box">
<div align="center">
        <h3  class="field" th:text="${postOfGivenId.postTitle}"></h3><br>
        <h4  class="field" th:text="${postOfGivenId.postExcerpt}"></h4>
        <h4  class="field" th:text="${postOfGivenId.postContent}"></h4>
        <hr>
    <div>
        <h5>Comment</h5>
        <form action="comment" method="post">
            <textarea name="commentBox"  class="commentbox"></textarea><br>
            <input type="hidden" name="hiddenBtn" th:value="${postOfGivenId.postId}">
            <input type="submit" name="commentButton" class="btn btn-primary">
        </form>
    </div>
    <hr>
    <table border="2px solid #eee">
        <tbody>
        <tr th:each="comments:${comments}">
            <div class="blogtable">
                <h5  class="field" th:text="${comments.commentContent}"></h5>
                <a th:href="@{/updatePost/(comments=${comments.commentId})}" class="btn btn-primary">Update Post</a>
                <a th:href="@{/deletePost/(comments=${comments.commentId})}" class="btn btn-danger"> Delete Post</a>
            </div>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>