<html xmlns:th="http://www.w3.org/1999/xhtml">
<title margin="10px">Home</title>
<link rel="Stylesheet" href="style.css">
<link rel="stylesheet" href="bootstrap.min.css">
<body class="box">
<div align="center">
	<h2>Home page</h2><hr><br>
	<a href="/new" class="btn btn-dark field" >Click here to Create Post </a><br><br>
	<a href="/list" class="btn btn-primary field">Click here to Read Posts </a><br><br>
	<a href="/login" class="btn btn-light field">Click here to login </a>
</div>
</body>
</html>