<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>List of Posts</title>
<link rel="Stylesheet" href="style.css">
<link rel="stylesheet" href="bootstrap.min.css">
<body class="">
<div background="#322" align="center" class="box">
	<h4>Blog Posts</h4>
	<hr>
	<div>
	<!--	<form action="sortPost" method="post">
			<select th:field="*{sortBy}">
				<option th:value="'id'" th:text="Id" value="Id"></option>
				<option th:value="'time'" th:text="Published Time" value="Published Time"></option>
			</select>
			<input type="submit" class="btn btn-warning">
		</form><br>
		<form action="searchPost" method="post">
			<select th:field="*{searchBy}">
				<option th:value="'Title'" th:text="Title" value="Title"></option>
				<option th:value="'Content'" th:text="Content" value="Content"></option>
				<option th:value="'Author'" th:text="Author" value="Author"></option>
				<option th:value="'Tag'" th:text="Tag" value="Tag"></option>
			</select>
			<input type="submit" class="btn btn-warning">
		</form><br>
		<form action="filerPost" method="post">
			<select th:field="*{filterBy}">
			<option th:value="'PublishedDate'" th:text="Published Date"></option>
			<option th:value="'Author'" th:text="Author"></option>
			<option th:value="'Tag'" th:text="Tag"></option>
			</select>
			<input type="submit" class="btn btn-dark">
		</form>-->

	</div>
	<hr>
	<table border="2px solid #eee">
		<tbody>
			<tr th:each="post:${posts}">
				<div class="blogtable">
					<h4  class="field" th:text="${post.postTitle}"></h4>
					<h5  class="field" th:text="${post.postExcerpt}"></h5>
					<a th:href="@{/readMore/(postId=${post.postId})}"> Read More</a>
					<a th:href="@{/updatePost/(postId=${post.postId})}" class="btn btn-primary">Update Post</a>
					<a th:href="@{/deletePost/(postId=${post.postId})}" class="btn btn-danger"> Delete Post</a>
				</div>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>