<html xmlns:th="http://www.thymeleaf.org">
<title>Login</title>
<link href="style.css" rel="Stylesheet">
<link href="bootstrap.min.css" rel="stylesheet">
<body style="background:#7C99AC;">
<form style="margin-left:25%;margin-right:15%;padding:10px;" action="/checkLogin" method="post">
        <h3 style="padding:10px;margin:10px;">Login</h3><hr>
        <input style="padding:10px;margin:10px;" type="text" name="username" placeholder="Username"><br>

        <input style="padding:10px;margin:10px;" type="password"  name="password" placeholder="Password"><br>

        <button style="padding:10px;margin:10px;" type="submit" class="btn btn-primary btn-sm ">Login</button><br>
        Click here to <a href="/showregister"><input type="button" class="btn btn-primary btn-sm" style="padding:10px;margin:10px;" value="Register"></a>

</form>
</body>
</html>