<html xmlns:th="http://www.thymeleaf.org">
<title>Register</title>
<link rel="Stylesheet" href="style.css" >
<link rel="stylesheet" href="bootstrap.min.css" >
<body class="container">

<form style="margin-left:25%;margin-right:15%;padding:10px;" action="register" method="post">
    <h2 style="padding:10px;margin:10px;">Register</h2><hr>
    <input style="padding:10px;margin:10px;" type="text" name="email" placeholder="Enter your email" required><br>

    <input style="padding:10px;margin:10px;" type="text" name="username" placeholder="Enter your username"><br>

    <input style="padding:10px;margin:10px;" type="password" class="form-control" name="password" placeholder="Enter your password"><br>

    <button style="padding:10px;margin:10px; align:center;" type="submit" class="btn btn-primary mb-3">Register</button>

</form>
</body>
</html>