<html xmlns:th="http://www.w3.org/1999/xhtml">
<title>Create Tag</title>
<link href="style.css" rel="Stylesheet">
<link href="bootstrap.min.css" rel="stylesheet">
<body class="box">
<div align="center">
    <h2>Create New Tag</h2>
    <hr>
    <form action="/createtag" method="post" th:action="@{/createtag}" th:object="${tag}">
        <input class="text" name="tagname" placeholder="Tag name" type="text"><br>
        <input class="btn btn-secondary" type="submit" value="Post">
    </form>
</div>
</body>
</html>