<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Create Tag</title>
<link rel="Stylesheet" href="style.css">
<link rel="stylesheet" href="bootstrap.min.css">
<body class="box">
<div align="center">
  <h2>Create New Tag</h2>
  <hr>
  <form action="/createtag" th:action="@{/createtag}" method="post" th:object="${tag}">
    <input type="text" placeholder="Tag name"  name="tagname" class="text"><br>
    <input type="submit" value="Post" class="btn btn-secondary">
  </form>
</div>
</body>
</html>