<html lang="en" xmlns:th="http://www.thymeleaf.org">
<title>Update Post</title>
<body style="margin-left:15%;margin-right:15%;">
<div align="center" style="background:#eee;">
    <h3>Update Post</h3>
    <hr/>
    <form action="/updatepost" method="post" th:object="${posts}">
        <label>Title:</label><br>
        <input class="text" style="width: 551px; height: 50px; margin:10px;" th:field="*{postTitle}" type="text"/><br>
        <label>Tags:</label><br>
        <input class="text" style="width: 551px; height: 50px;margin:10px"
               th:value="${tags}" type="text"/><br>
        <label>Author:</label><br>
        <input class="text" style="width: 551px; height: 50px;margin:10px"
               th:field="*{postAuthor}" type="text"/><br>
        <label>Excerpt:</label><br>
        <textarea class="textarea" style="width: 551px; height: 173px;margin:10px"
                  th:field="*{postExcerpt}"> </textarea><br>
        <label>Content:</label><br>
        <textarea class="textarea" style="width: 551px; height: 273px;margin:10px"
                  th:field="*{postContent}"> </textarea><br>

        <input th:field="*{postId}" type="hidden"/>
        <button style="width:100px;height:40px; background:#00b894" type="submit">Update</button>
    </form>
</div>
</body>
</html>